body {
  background-color: #ECEDF1; }

ul {
  padding: 12px 24px;
  list-style-type: none; }

li {
  background-color: #F7F7F7;
  border-radius: .5em;
  box-shadow: 0 8px 8px rgba(126, 123, 123, 0.15);
  margin: .9em 0;
  padding: 1em; }
  li .head-con {
    display: flex; }
    li .head-con div:first-child {
      flex: 1; }
    li .head-con div:last-child {
      align-self: center; }
  li h4 {
    margin: 0; }

.modal {
  display: none;
  background-color: rgba(128, 128, 128, 0.48);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  left: 0; }
  .modal .modal-content {
    padding: 0.5em;
    background-color: lightcoral;
    width: 60%;
    margin: 6em auto;
    height: 40em; }
    .modal .modal-content #modal-close {
      float: right;
      color: red; }
    .modal .modal-content .form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;
      height: 30em;
      margin: 0 auto; }
      .modal .modal-content .form input {
        height: 0.5em;
        border-radius: 2em;
        padding: 1em;
        outline: none; }
      .modal .modal-content .form select {
        height: 2.4em;
        border-radius: 2em;
        outline: none;
        padding-left: 1em; }
      .modal .modal-content .form textarea {
        border-radius: 2em;
        padding: 1em; }
      .modal .modal-content .form div input {
        height: 1em; }

.complete {
  text-decoration: line-through;
  color: red; }

.high {
  color: red; }

.medium {
  color: purple; }

.low {
  color: #ff6a53; }

.hidden {
  display: none; }

.delete {
  background: url(../assets/delete.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px; }

.update {
  background: url(../assets/edit.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px; }

.wrapper {
  width: 70%;
  margin: 0 auto; }

.header {
  margin-top: .5em;
  background-image: linear-gradient(90deg, #0b282d, rgba(23, 23, 47, 0.93));
  height: 18em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 15px rgba(85, 85, 85, 0.4);
  border-radius: .5em; }
  .header .header-right img {
    width: 10em;
    border-radius: 50%;
    box-shadow: 0 4px 18px #423f7c;
    margin-right: 1em; }
  .header .header-left {
    margin-left: 2em; }
    .header .header-left .info {
      color: white; }
      .header .header-left .info p {
        display: flex;
        flex-direction: row; }
        .header .header-left .info p .info-icon {
          display: block;
          background: url("../assets/delete.svg");
          background-repeat: no-repeat;
          width: 1em;
          margin-right: .5em; }

.todo-container {
  position: relative;
  bottom: 3em;
  background-color: rgba(255, 255, 255, 0.93);
  width: 95%;
  margin: 0 auto;
  height: 37.5em;
  overflow-y: auto; }

.todo-container {
  border-radius: .5em; }

.todo-container {
  box-shadow: 0 4px 20px rgba(140, 140, 140, 0.12); }
