body {
  background-color: #ECEDF1;
}

ul {
  padding: 12px 24px;
  list-style-type: none;
}

li {
  background-color: #F7F7F7;
  border-radius: .5em;
  box-shadow: 0 8px 8px rgba(126, 123, 123, 0.15);
  margin: .9em 0;
  padding: 1em;

  .head-con {
    display: flex;

    div:first-child {
      flex: 1;
    }

    div:last-child {
      align-self: center;
    }
  }

  h4 {
    margin: 0;
  }
}

.modal {
  display: none;
  background-color: rgba(128, 128, 128, 0.48);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  left: 0;

  .modal-content {

    #modal-close{
      float: right;
      color: red;
    }
    padding: 0.5em;
    background-color: lightcoral;
    width: 60%;
    margin: 6em auto;
    height: 40em;
    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;
      height: 30em;
      margin: 0 auto;
      input {
        height: 0.5em;
        border-radius: 2em;
        padding: 1em;
        outline: none;
      }
      select {
        height: 2.4em;
        border-radius: 2em;
        outline: none;
        padding-left: 1em;
      }
      textarea {
        border-radius: 2em;
        padding: 1em;
      }
      div {
        input {
          height: 1em;
        }
      }
    }
  }
}

.complete{
  text-decoration: line-through;
  color: red;
}

.high{
  color: red;
}

.medium{
  color:purple ;
}

.low{
  color: #ff6a53;
}

.hidden {
  display: none;
}

.float-right {
  float: right;
}