@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import "variables";
body {
  background-color: #ecedf1;
  font-family: "Raleway", sans-serif;
}

ul {
  padding: 12px 24px;
  list-style-type: none;
}

li {
  background-color: #f7f7f7;
  border-radius: 0.5em;
  box-shadow: 0 8px 8px rgba(126, 123, 123, 0.15);
  margin: 0.9em 0;
  padding: 1em;

  .head-con {
    display: flex;

    div:first-child {
      flex: 1;
      h4 {
        color: $main-text-color;
      }
    }

    div:last-child {
      align-self: center;
    }
  }

  .head-con + div {
    font-weight: 100;
    color: #6a6a6a;
  }

  h4 {
    margin: 0;
  }
}

li:hover {
  animation: animate-li 300ms forwards;
  cursor: pointer;
}

.default-button {
  background-color: $main-text-color;
  padding: 0.5em;
  border-radius: 0.2em;
  border: 1px solid $main-text-color;
  box-shadow: 0 4px 15px #1e1e1e;
  color: white;
  text-shadow: 0 1px 0 grey;
  text-transform: capitalize;
}

.default-button:hover {
  box-shadow: 0 4px 30px #6e2773;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.button-container > *  {
  margin: 6px 0;
}

.modal {
  display: none;
  background-color: rgba(128, 128, 128, 0.48);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  left: 0;

  .modal-content {
   border-radius: 1em;
    color: white;
    #modal-close,
    #project-modal-close {
      float: right;
      color: red;
    }
    padding: 2em;
    background-image: linear-gradient(90deg, #0b282d, rgba(23, 23, 47, 0.93));
    width: 60%;
    margin: 6em auto;
    height: 40em;
    h3 {
      font-size: 2rem;
    }
    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;
      height: 30em;
      margin: 0 auto;
      text-align: left;
      input[type="text"],
      input[type="date"],
      select,
      textarea {
        background-color: white;
        color: #495057;
        height: 2.8rem;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        padding: 0.325rem 0.75rem;
        line-height: 1.5;
        margin: 0.25rem 0 0.75rem;
        outline: none;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      input:focus,
      select:focus,
      textarea:focus {
        border-color: #80bdff;
        color: #495057;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
      textarea {
        height: 5rem;
      }
    }
    #form-update, #form-submit{
      margin-top: 1em;
      font-size: 1.2em;
      font-weight: bold;
    }
    #form-update{
      width: 60%;
    }
  }
}

.complete {
  text-decoration: line-through;
  color: red;
}

.high {
  color: rgb(254, 25, 91);
  text-shadow: 0 1px 0 #ff69ea;
}

.medium {
  color: #a932ff;
  text-shadow: 0 1px 0 #ff69ea;
}

.low {
  color: #ff7f00;
  text-shadow: 0 1px 0 #ff69ea;
}

.hidden {
  display: none;
}

.delete {
  background: url(../assets/delete.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.update {
  background: url(../assets/edit.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

// Wrapper

.wrapper {
  width: 70%;
  min-width: 660px;
  margin: 0 auto;
}

.header {
  margin-top: 0.5em;
  background-image: linear-gradient(90deg, #0b282d, rgba(23, 23, 47, 0.93));
  height: 18em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 15px rgba(85, 85, 85, 0.4);
  border-radius: 0.5em;
  .header-right {
    img {
      width: 10em;
      border-radius: 50%;
      box-shadow: 0 4px 18px #423f7c;
      margin-right: 1em;
    }
  }

  .header-left {
    margin-left: 2em;
    .info {
      color: white;
      h4 {
        color: $main-text-color;
        small {
          color: $secondary-text-color;
        }
        text-shadow: 0 1px 0px grey;
      }
      p {
        font-weight: 300;
        display: flex;
        flex-direction: row;
        color: $secondary-text-color;
        text-shadow: 0 1px 1px grey;
        .info-icon {
          display: block;
          background: url("../assets/green-dot.svg")0 50%;
          background-repeat: no-repeat;
          background-size: .5em .5em;
          width: .5em;
          margin-right: 0.5em;
        }
      }
    }
  }
}

// todo

.todo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  bottom: 3em;
  background-color: rgba(255, 255, 255, 0.93);
  @extend %border-r;
  @extend %box-shadow-con;
  width: 95%;
  margin: 0 auto;
  height: 40.5em;
  overflow-y: auto;
}

#todo-list{
  width: 60%;
}
 #todo-project{
  width: 30%;
   overflow-y: auto ;
   height: 100%;
   color: $main-text-color;
   font-weight: bold;
   text-align: center;
   text-transform: capitalize;
}

%border-r {
  border-radius: 0.5em;
}
%box-shadow-con {
  box-shadow: 0 4px 20px rgba(140, 140, 140, 0.12);
}

@mixin border($value) {
  border-radius: $value#{em};
}

@keyframes animate-li {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.06);
  }
}